 
h1{
 	color: #238508; 
  text-align: center; 
  padding-top:50px; 
  font-size:40px;
}
    .text {
    padding: 70px;
    font-size: 14pt;
   }

#navbar li { display: inline-block; }
#navbar ul {
  display: none;
  background-color:#f28507;
  position: absolute;
  top: 100%;
}
#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar {
  height: 36px;
  background-color: #666;
  padding-left: 25px;
 position: fixed; 
    top: 0; 
    width: 100%; 
}
#navbar li {
  float: left;
  position: relative;
  height: 100%;
}
#navbar li a {
  display: block;
  padding: 6px;
  width: 100px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
#navbar ul li { float: none; }
#navbar li:hover { background-color: #f28507; }
#navbar ul li:hover { background-color: #666; }

  #navbar li  :hover {
  transform: scale(1.3);
}
#navbar .b-menu :hover {
  transform: none;
}

.matches{
  padding: 40px;
  height: 20px;
}
   tr:hover {
    background: #dbdbdb;
   }


@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  20% {
    left: 20%;
    top: 30px;
  }
  40% {
    left: 40%;
    top: 0px;
  }
60% {
    left: 60%;
    top: 30px;
  }
  80% {
    left: 80%;
    top: 0px;
  }

  100% {
    left: 100%;
    top: 30px;
  }
}
.stage {
  background: #fff;
  border-radius: 6px;
  height: 30px;
  position: relative;
}
.stage:hover .ball {
  animation: slide 4s ease-in-out .5s 2 alternate;
}
.stage:active .ball {
  animation-play-state: running;
}
.ball {
  background: #238508;
  border-radius: 50%;
  height: 25px;
  position: absolute;
  width: 25px;
}
figure {
  margin: 0;
}
   aside {
    background: #238508;
    padding: 2px;
    width: 140px;
    float: right;
   }
.fadeIn{
    animation-name: fadeIn;
    animation-duration: 2s; 
    animation-timing-function: ease-in-out; 
    visibility: visible !important; 
}
 
@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0.0;       
    }
    60% {
        transform: scale(1.1);  
    }
    80% {
        transform: scale(0.9);
        opacity: 1; 
    }   
    100% {
        transform: scale(1);
        opacity: 1; 
    }       
}